.dsh{
    height:100vh;
    display: flex;
    background-color: rgb(255, 218, 218);
    
}
.dashboard{
  font-family: Optima,sans-serif;
  margin-top: 30px;
  margin-left: 130px;
  border:0;
  display: flex;
  height: 90vh;
  width: 80%;
  background-color:lightcoral;
  overflow-x: hidden;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dash{
    width: 100px;
    height:80vh;
    display: flex;
    background-color: lightcoral;
}
.side .SidebarList{
    height:auto;
    padding-left:0px;
    width:10px;
    color: #F8F8F8;
}
.side .SidebarList .row{
    width: 100px;
    height:60px;
    align-items: center;
    justify-content: center;
    display: grid;
}
.side .SidebarList .row:hover{
    cursor: pointer;
    
  }
  .content{
  background-color: #FCDFDF;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-left: 0px;
  width: 100%;
  overflow-x: hidden;
  }
.top-sec{
    height:80px;
    padding-left: 10px;
    display: flex;
    padding-top: 15px;
}
.searchcontrol{
    border:0;
    border-radius:0px;
    height:35px;
    width:250px;
    margin-left: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 0 30px;
}
.search-btn{
    position: relative;
    top:8px;
    left: 30px;
    width: 20px;
    height: 20px;
    border:transparent;
    background-color:transparent; 
  }
  .prof{
      padding-top: 20px;
      padding-left: 350px;
      font-size: 13px;
      font-family: 'Courier New', Courier, monospace;
   }
   .prof .imge{
    height: 33px;
    width: 28px;
  }
  .box-menu{
  display: flex;
  height:80px;
   
  }
  .features{
    display: flex;
    padding-left: 40px;
  }
  .card-container {
    font-size: 15px;
    height: 120px;
    width: 90px;
    text-align: center;
    line-height: 2;
    font-size: 13px;
    }
    .card-icon{
      padding-top: 12px;
      color: lightcoral;
    
    }
    .card {
      height:50px;
      width:70px;
      background-color: rgb(255, 218, 218);
      border-radius: 10px;
      margin-left: 10px;
      align-items: center; 
    }
    .Exp{
        display: flex;
        height:245px;
        padding-left: 40px;
        line-height: 0;
        font-size: 16px;
        float: left;
    }
    .pics{
        /* display: flex; */
        border: none;
      }
      .pics .child{
        float:left;
        border: none;
        position: relative;
        text-align: center;
      }
      .pics .child .top-right {
        position: absolute;
        top: 10px;
        right: 20px;
      }
      .pics .child .bottom-left{
        position: absolute;
        bottom: 70px;
        left: 10px;
        color: #F8F8F8;
        font-size: 13px;
      }
      .pics .child .bottom-left1{
        position: absolute;
        bottom: 50px;
        left: 10px;
        color: #F8F8F8;
        font-size: 13px;
      }
      .pics .child .bottom-left2{
        position: absolute;
        bottom: 10px;
        left: 5px;
        color: #F8F8F8;
        font-size: 12px;
      }
      .pics .child .bottom-right{
        position: absolute;
        bottom: 10px;
        right: 30px;
        color: #F8F8F8;
        font-size: 12px;
      }
      .pics .img{
        height:190px;
        width: 165px;
        border-radius: 10px;
        margin-right: 20px;
      }
      .hot{
        display: flex;
       height: 80px;
       padding-left: 40px;
        float: left;
        line-height: 0;
        font-size: 16px;
      }
      .box-hotel{
        display: flex;
      }
      
      .hotel-cards{
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 20px;
        height:50px;
        background-color: white;
        width:230px;
        padding-bottom: 10px;
        border-radius: 15px;
        float: left;
      }
      
      .hotel-cards img{
        width:40px;
        height: 40px;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 10px;
        }
      
      .rating{
        float: right;
        padding-right: 15px;
        padding-top: 10px;
        font-size: 12px;
      }
      
      .hotel-desc{
        margin-top: 0px;
        margin-left: 60px;
        position: relative;
        bottom: 30px;
        line-height:0;
        font-size: 12px;
        font-family:monospace;
      
      }
      .hotel-name{
        margin-left: 60px;
        position: relative;
        bottom: 24px;
        line-height:0;
        font-size: 12px;
        font-family: monospace;
      }
      .prof1{
          position: absolute;
          padding-left: 680px;
          padding-top: 17px;
          font-size: 15px;
      }
    
      .Exp1{
        padding-top: 45px;
        padding-left: 60px;
        line-height: 0;
        font-size: 16px;
        
    }
    
    .Exp1 .pics .child{
      
      border: none;
      position: relative;
      text-align: center;
    }
    .Exp1 .pics .child .top-right {
      position: absolute;
      top: 10px;
      right: 20px;
    }
    .Exp1 .pics .child .bottom-left{
      position: absolute;
      bottom: 100px;
      left: 10px;
      color: #F8F8F8;
      font-size: 13px;
    }
    .Exp1 .pics .child .bottom-left1{
      position: absolute;
      bottom: 80px;
      left: 10px;
      color: #F8F8F8;
      font-size: 13px;
    }
    .Exp1 .pics .child .bottom-left2{
      position: absolute;
      bottom: 40px;
      left: 5px;
      color: #F8F8F8;
      font-size: 12px;
    }
    .Exp1 .pics .child .bottom-right{
      position: absolute;
      bottom: 40px;
      right: 30px;
      color: #F8F8F8;
      font-size: 12px;
    }
    .Exp1 .pics .img{
      height:210px;
      width: 180px;
      border-radius: 10px;
      margin-right: 20px;
      margin-bottom: 30px;
    }
    .content1{
      background-color: #FCDFDF;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      margin-left: 0px;
      width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
      overflow-x: hidden;
      }
      
